@font-face {
  font-family: "Helvetica";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Helvetica/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica/Helvetica.woff") format("woff"), url("../fonts/Helvetica/Helvetica.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Helvetica/Helvetica-Bold.woff2") format("woff2"), url("../fonts/Helvetica/Helvetica-Bold.woff") format("woff"), url("../fonts/Helvetica/Helvetica-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff") format("woff");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, "sans-serif";
  background-color: #F7F7F7;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 120px;
}

.header__title {
  font-family: Playfair Display, "sans-serif";
  font-weight: 400;
  font-size: 30px;
  line-height: 46px;
  color: #3E3E3E;
  margin-bottom: 30px;
}

.main {
  display: flex;
  align-items: flex-start;
}

.rotate {
  transform: rotate(90deg);
  transition: 0.2s all ease-in-out;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px 14px;
}
.card__item {
  position: relative;
  transform-style: preserve-3d;
  transform-origin: right;
  transition: 1s all ease-in-out;
  min-width: 282px;
  min-height: 405px;
  box-sizing: border-box;
}
.card__item.flip {
  transform: translateX(-100%) rotateY(-180deg);
}
.card__container {
  padding: 30px;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  backface-visibility: hidden;
}
.card__container--front {
  background: #fff;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.06);
  border-top: 6px solid #259609;
}
.card__container--back {
  background: #259609;
  box-shadow: 0 22px 37px rgba(0, 0, 0, 0.2);
  transform: rotateY(180deg);
  border-top: 12px solid transparent;
}
.card__top--svg {
  display: none;
}
.card__cross {
  position: absolute;
  right: 20px;
  top: 20px;
  transform: rotate(45deg);
  opacity: 0.7;
  transition: 0.3s all ease-in-out;
}
.card__cross:hover {
  transform: rotate(0deg);
  opacity: 1;
  transition: 0.3s all ease-in-out;
}
.card__img {
  display: flex;
  justify-content: flex-end;
}
.card__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #259609;
  text-transform: uppercase;
  margin: 30px 0 10px;
}
.card__subtitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #3E3E3E;
  margin: 0 0 70px 0;
}
.card__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #3E3E3E;
  padding-left: 12px;
}
.card__info {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}
.card__info--exception {
  align-items: flex-start;
}
.card__mobile--text, .card__mobile--price {
  display: none;
}
.card_block {
  margin: 20px 0 0 0;
}
.card__price {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 30px 0 0 0;
}
.card__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}
.card__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}
.card__text--weight {
  font-weight: 400;
}

svg path {
  stroke: #3E3E3E;
}

.careers__wrapper {
  background: #fff;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.06);
  padding: 30px 15px;
  border-radius: 2px;
  min-width: 286px;
  height: min-content;
  margin-right: 14px;
}
.careers__desktop--title {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #259609;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: bottom;
}
.careers__mobile {
  display: none;
}
.careers__line {
  border: 1px solid #ECECEC;
  margin: 20px 0;
}
.careers__block {
  margin-bottom: 34px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.careers__categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.careers__item {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #3E3E3E;
}
.careers__lists {
  transition: 0.2s all ease-in-out;
  list-style: none;
  display: none;
}
.careers__lists li {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #3E3E3E;
  margin-bottom: 14px;
  padding: 12px;
}
.careers__lists li:hover {
  background: #F2F2F2;
  border-radius: 3px;
  transition: 0.2s all ease-in-out;
}
.careers__lists li:active {
  background-color: #deefda;
  color: #259609;
}

.active {
  color: #259609;
}

.hide {
  display: block;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;
}
.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #3E3E3E;
  text-align: center;
  margin-right: 10px;
}

.button {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  outline: none;
  border: 0;
  padding: 15px 6px 12px;
  width: 100%;
  cursor: pointer;
}
.button__front {
  background: #259609;
  margin: 30px 0 0 0;
}
.button__front:hover {
  opacity: 0.7;
  transition: 0.3s all ease-in-out;
}
.button__back {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #259609;
  background: #fff;
  margin: 10px 0 0 0;
}
.button__back:hover {
  opacity: 0.7;
  transition: 0.3s all ease-in-out;
}
.button__careers {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #259609;
  background: #fff;
  border: 1px solid #e3f1df;
}

@media (max-width: 375px) {
  .button__front {
    margin: 14px 0 0 0;
  }
}
@media (max-width: 1440px) {
  .wrapper {
    padding: 60px;
  }
  .header__title {
    text-align: center;
  }
  .main {
    justify-content: center;
    align-items: inherit;
  }
  .card {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 978px) {
  .wrapper {
    padding: 40px;
  }
  .header__title {
    text-align: center;
  }
  .main {
    flex-direction: column;
  }
  .careers__wrapper {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .card {
    grid-template-columns: 1fr;
  }
  .card__container {
    width: 100%;
  }
}
@media (max-width: 375px) {
  body {
    background: #fff;
  }
  .wrapper {
    padding: 15px;
  }
  .header__title {
    text-align: left;
    margin-bottom: 16px;
  }
  .main {
    align-items: inherit;
  }
  .careers__wrapper {
    display: none;
  }
  .careers__wrapper--visible {
    display: block;
  }
  .careers__desktop {
    display: none;
  }
  .careers__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: #F1F1F1;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  .careers__mobile--wrapper {
    display: flex;
    align-items: flex-start;
  }
  .careers__mobile--title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    text-transform: uppercase;
    margin-left: 10px;
  }
  .careers__line {
    display: none;
  }
  .card {
    gap: inherit;
  }
  .card__container {
    padding: 20px 24px;
  }
  .card__container--front {
    background-color: #F2F2F2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .card__container--back {
    border-top: none;
  }
  .card__top {
    display: flex;
    justify-content: space-between;
  }
  .card__top--svg {
    display: block;
    transform: rotate(45deg);
  }
  .card__top--svg:hover {
    opacity: 0.7;
  }
  .card__top svg path {
    fill: #259609;
    stroke: #fff;
  }
  .card__item {
    min-height: 330px;
    margin-bottom: 50px;
  }
  .card__item:nth-child(2n) {
    display: none;
  }
  .card__subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #3E3E3E;
    margin: 0 0 6px 0;
  }
  .card__name {
    font-size: 14px;
  }
  .card__info {
    display: none;
  }
  .card__price {
    margin: 20px 0 0 0;
  }
  .card__mobile--text {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #3E3E3E;
    margin: 0 0 67px 0;
  }
  .card__mobile--price {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #3E3E3E;
  }
  .footer {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
