@import 'mixin';
@import 'variables';

.careers {

  &__wrapper {
    @include background;
    padding: 30px 15px;
    border-radius: 2px;
    min-width: 286px;
    height: min-content;
    margin-right: 14px;
  }

  &__desktop {
    &--title {
      @include text(400, 13px, 20px, $main);
      text-transform: uppercase;
      display: inline-block;
      vertical-align: bottom;
    }
  }

  &__mobile {
    display: none;
  }

  &__line {
    border: 1px solid $line;
    margin: 20px 0;
  }

  &__accordion {
    overflow: hidden;
    margin-bottom: 20px;

    &--input {
      position: absolute;
      display: none;
      z-index: -1;
    }

    &--label {
      @include text(bold, 16px, 22px, $dark);
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      position: relative;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      & span {
        display: block;
      }

      &::after {
        position: absolute;
        content: "\276F";
        width: 10px;
        height: 10px;
        right: 3px;
        color: $dark;
        font-weight: 400;
        transition: all .2s ease-in-out;
      }
    }
    &--content {
      max-height: 0;
      transition: all .2s ease-in-out;
      list-style: none;

      & li {
        @include text(400, 14px, 22px, $dark);
        padding: 12px;
        cursor: pointer;

        &:hover {
          background: $gray-light;
          border-radius: 3px;
          transition: .2s all ease-in-out;
        }

        &.active {
          background-color: $active;
          color: $main;
        }
      }
    }
  }
}

.careers__accordion--input:checked {
  + .careers__accordion--label {
    align-items: center;
    color: $main;
    &::after {
      transform: rotate(90deg);
      color: $main;
    }
  }
  ~ .careers__accordion--content {
    max-height: 100vh;
  }
}


