@font-face {
  font-family: 'Helvetica';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Helvetica/Helvetica.woff2') format('woff2'),
  url('../fonts/Helvetica/Helvetica.woff') format('woff'),
  url('../fonts/Helvetica/Helvetica.ttf') format('truetype');
}


@font-face {
  font-family: 'Helvetica';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Helvetica/Helvetica-Bold.woff2') format('woff2'),
  url('../fonts/Helvetica/Helvetica-Bold.woff') format('woff'),
  url('../fonts/Helvetica/Helvetica-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff')
}
